# this file is to be sourced in a bash


### buildprep
copyrecursive="cp -rv" 
patch=patch

### configure
configureswitches="--disable-mozilla --disable-cups --disable-headless --disable-gnome-vfs --disable-gconf --disable-gtk --disable-randr --disable-mediawiki --with-system-lpsolve=no --enable-werror"


### compile
ccdatapath=/buildbot/buildslave
#if set ccsetup will automatically generate symlinks to ccache
#and use them to call the compiler.
#This implies that the compiler and ccache can be found in $PATH
ccUsePrivateSymlinks=TRUE
# --html: for nice HTML log files
custom_buildflags="nodep=TRUE -P2 -- -P2"

### smoketestoo
#no need to set "XvfbBinary", it defaults to /usr/bin/Xvfb
#XvfbBinary=/usr/bin/Xvfb


